// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2026 PHYTEC Messtechnik GmbH
 * Author: Florijan Plohl <florijan.plohl@norik.com>
 */

#include <dt-bindings/clock/imx93-clock.h>
#include <dt-bindings/gpio/gpio.h>
#include "imx93-pinfunc.h"

/dts-v1/;
/plugin/;

&{/} {
	reg_sound_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VCC-1V8-AUDIO";
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
	};

	reg_sound_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VCC-3V3-AUDIO";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
	};

	sound-peb-av-10 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "snd-peb-av-10";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink_master>;
		simple-audio-card,frame-master = <&dailink_master>;
		simple-audio-card,mclk-fs = <32>;
		simple-audio-card,widgets =
			"Line", "Line In",
			"Speaker", "Speaker",
			"Microphone", "Microphone Jack",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Speaker", "SPOP",
			"Speaker", "SPOM",
			"Headphone Jack", "HPLOUT",
			"Headphone Jack", "HPROUT",
			"LINE1L", "Line In",
			"LINE1R", "Line In",
			"MIC3R", "Microphone Jack",
			"Microphone Jack", "Mic Bias";

		simple-audio-card,cpu {
			sound-dai = <&sai3>;
		};

		dailink_master: simple-audio-card,codec {
			sound-dai = <&codec>;
			clocks = <&clk IMX93_CLK_SAI3>;
		};
	};
};

&lpi2c2 {
	#address-cells = <1>;
	#size-cells = <0>;

	codec: codec@18 {
		compatible = "ti,tlv320aic3007";
		reg = <0x18>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_codec>;
		#sound-dai-cells = <0>;
		reset-gpios = <&gpio2 18 GPIO_ACTIVE_LOW>;
		ai3x-gpio-func = <0xd 0x0>;
		ai3x-micbias-vg = <2>;
		AVDD-supply = <&reg_sound_3v3>;
		IOVDD-supply = <&reg_sound_3v3>;
		DRVDD-supply = <&reg_sound_3v3>;
		DVDD-supply = <&reg_sound_1v8>;
	};

	eeprom@57 {
		compatible = "atmel,24c32";
		reg = <0x57>;
		pagesize = <32>;
	};
};

&sai3 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai3>;
	assigned-clocks = <&clk IMX93_CLK_SAI3>;
	assigned-clock-parents = <&clk IMX93_CLK_AUDIO_PLL>;
	assigned-clock-rates = <19200000>;
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&iomuxc {
	pinctrl_codec: codecgrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO18__GPIO2_IO18		0x39e
		>;
	};

	pinctrl_sai3: sai3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO17__SAI3_MCLK		0x1202
			MX93_PAD_GPIO_IO16__SAI3_TX_BCLK	0x1202
			MX93_PAD_GPIO_IO26__SAI3_TX_SYNC	0x1202
			MX93_PAD_GPIO_IO21__SAI3_TX_DATA00	0x1402
			MX93_PAD_GPIO_IO20__SAI3_RX_DATA00	0x1002
		>;
	};
};
